@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #f0fbff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
font-family : 'BYekan';
src: url('/fonts/BYekan.woff2') format('woff2'),
     url('/fonts/BYekan.woff') format('woff');
font-weight: normal;
font-style: normal;
body {
  font-family: 'BYekan', sans-serif;
  background-color: #f5f7fb;
  color: #4f46e5;
  direction: rtl;
}

a {
  color: #4f46e5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
